@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

table {
    margin: 2rem auto;
    border-collapse: collapse;
}

table>thead>tr>th {
    border: 2px solid #fff;
    background-color: black;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}

table>tbody>tr>td {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}